[Unit]
Description=%i service
PartOf=docker.service network-online.target
After=docker.service network-online.target
AssertPathExists=/usr/local/openhexa/compose.yml

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/openhexa
ExecStart=/usr/bin/docker compose --file /usr/local/openhexa/compose.yml --project-name openhexa --profile frontend --profile minio --profile pipelines up -d --remove-orphans
ExecStop=/usr/bin/docker compose --file /usr/local/openhexa/compose.yml --project-name openhexa stop

[Install]
WantedBy=multi-user.target