Source: openhexa
Maintainer: Christophe Philemotte <cphilemotte@bluesquarehub.com>
Section: misc
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)

Package: openhexa
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ${docker:Depends}
Description: Systemd Service for OpenHexa
 This installs a systemd service to run a containerized openhexa locally.
