[Unit]
Description=%i service
PartOf=docker.service network-online.target
After=docker.service network-online.target
AssertPathExists=/usr/share/openhexa/compose.yml

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/openhexa
ExecStart=/usr/bin/docker compose --file /usr/share/openhexa/compose.yml --env-file /etc/openhexa/env.conf --project-name openhexa --profile frontend --profile minio --profile pipelines --profile notebook up --wait --wait-timeout 60 --remove-orphans
ExecStop=/usr/bin/docker compose --file /usr/share/openhexa/compose.yml --env-file /etc/openhexa/env.conf --project-name openhexa --profile frontend --profile minio --profile pipelines --profile notebook stop

[Install]
WantedBy=multi-user.target