[Unit]
Description=%i service
PartOf=docker.service network-online.target
After=docker.service network-online.target
AssertPathExists=/usr/share/openhexa/compose.yml
Documentation=https://github.com/BLSQ/openhexa

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/etc/openhexa
ExecStart=/usr/share/openhexa/openhexa.sh -g start
ExecStop=/usr/share/openhexa/openhexa.sh -g stop

[Install]
WantedBy=multi-user.target